section.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important; /*o !important serve para não criar mais espaços aicionais caso nescissário no mobile ou em telas maiores*/
  overflow: hidden;/*esconde a barra de rolagem mesmo que o conteudo sai da tela*/
}

.slider-content{
  width: 400%;
  height: auto;
  display:flex;
}

.slider-content input, .img-mobile{
  display: none;
  /*esconde as imagens tanto de mobile quando está no tamanho desktop*/
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img{
  width:100%;
}

.nav-manual, .nav-auto{
  position: absolute;/*usar para que não sobreponha outro elemento na tela*/
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #ff0054;
  padding: 10px;
  border-radius: 50%;/*usamos esse elemento para deixar as bolinhas do carrosel redondas*/
  cursor: pointer; /*esse elemento faz quando passamos o cursor sobre as bolinhas apareça o dedinho*/
  transition: 0.2s;
}
/*O not:(:last-child), serve para aplicar o estilo para todos menos para o ultimo elemento*/
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: #ff0054;
}
/* o ~ indica um evento, nesse caso quando o id radio1 estiver marcado as classes nav-auto e auto-btn1 mudar a vor de fundo*/
#radio1:checked ~ .nav-auto .auto-btn1{
  background-color: #ff0054;
}

#radio2:checked ~ .nav-auto .auto-btn2{
  background-color: #ff0054;
}

#radio3:checked ~ .nav-auto .auto-btn3{
  background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

@media screen and (max-width:900px){
  .img-desktop{
    display: none;
  }
  .img-mobile{
    display: block;
  }
  .nav-auto, .nav-manual{
    margin-top: 60%;
  }
}