section.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffff;
  text-align: center;
  margin-top: 1%;
  height: 300px;
}

.card{
  background-color: rgb(217, 217, 217);
  width: 50%;
  margin-left: 20%;
  height: 100%;
  border-radius: 2%;
  
}
.card h1{
  font-family: 'Righteous',sans-serif;
}
.card button{
  background-color: rgb(255, 102, 0, 1);
  color:white;
  height: 13%;
  width: 70%;
  font-size: large;
  font-family: 'Righteous',sans-serif;
  margin-top: 30%;
}
.card p{
  font-family: 'Righteous',sans-serif;
  margin-top: 20%;
}


section.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important; /*o !important serve para não criar mais espaços aicionais caso nescissário no mobile ou em telas maiores*/
  overflow: hidden;/*esconde a barra de rolagem mesmo que o conteudo sai da tela*/
}

.slider-content{
  width: 400%;
  height: auto;
  display:flex;
}

.slider-content input, .img-mobile{
  display: none;
  /*esconde as imagens tanto de mobile quando está no tamanho desktop*/
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img{
  width:100%;
}

.nav-manual, .nav-auto{
  position: absolute;/*usar para que não sobreponha outro elemento na tela*/
  width: 100%;
  margin-top: 31%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid rgb(255, 102, 0, 1);
  padding: 10px;
  border-radius: 50%;/*usamos esse elemento para deixar as bolinhas do carrosel redondas*/
  cursor: pointer; /*esse elemento faz quando passamos o cursor sobre as bolinhas apareça o dedinho*/
  transition: 0.2s;
}
/*O not:(:last-child), serve para aplicar o estilo para todos menos para o ultimo elemento*/
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color:rgb(255, 102, 0, 1);
}
/* o ~ indica um evento, nesse caso quando o id radio1 estiver marcado as classes nav-auto e auto-btn1 mudar a vor de fundo*/
#radio1:checked ~ .nav-auto .auto-btn1{
  background-color: rgb(255, 102, 0, 1);
}

#radio2:checked ~ .nav-auto .auto-btn2{
  background-color: rgb(255, 102, 0, 1);
}

#radio3:checked ~ .nav-auto .auto-btn3{
  background-color: rgb(255, 102, 0, 1);
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}


@media screen and (max-width:900px){
  .img-desktop{
    display: none;
  }
  .img-mobile{
    display: block;
  }
  .nav-auto, .nav-manual{
    margin-top: 53%;
  }
}


/* ----------------MENU---------------*/
.body_menu{
  margin: 0;
}

header{
  background-color: rgba(22, 22, 22, 1);
  height: 103px;
}

.logo {
  width: 103px;
  height: 103px;
  margin-left: 5%;
  display: flex;
  position: absolute;
}

.logo_footer{
width:150px;
height: 150px;
}

.menu_icon{
  display: none;
  position: absolute;
  margin-left: 80%;
  margin-top: 32px;
  width: 32px;
  height: 32px;
  padding: 0px 0px;
  border: 0;
  background-color: rgba(22, 22, 22, 1);
}

.footer{
background-color: rgba(22, 22, 22, 1);
/* Retirar depois */
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
align-self: flex-end;
width: 100%;
height:250px;
}

/*---------Menu mobile----------*/

@media (max-width: 960px) {
.links {
    display: none; /* Esconde o menu inicialmente */
    flex-direction: column;
    position: absolute;
    top: 103px;
    right: 0;
    width: 100%;
    background-color: rgba(22, 22, 22, 1);
    height: 100%;
}
.links.active {
    display: flex; /* Exibe o menu quando ativado */
    
}

.menu_icon {
    display: block; /* Exibe o ícone de menu sanduíche */
    
}


.menu_aba{
    flex-direction: column;
    width: 100%;
    text-align: justify;
    margin-left: 0;
    height: 100;
    
}

.menu_aba ul li {
    margin: 0px;
         
}

ul li .a_link{
  font-size: 25px;
  text-align: start;
  border: 10;
  border-color: rgb(72, 72, 72);
  border-style: double;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 30px 0;
  font-family: 'Righteous',sans-serif;
}

#li_button{
  position:absolute;
  float: none;
  margin-top: 20px;
}

#li_button .contato{
  color: rgba(255, 102, 0, 1);
  border: 0;
  background-color: rgba(22, 22, 22, 1);
  padding: 0;
  border-style: none;
  border-radius: 0;
  }
}



/*----------Menu_desktop----------*/  


.teste{
font-size: 0%;
}

@media (max-width:1920px) {

.menu_aba ul {
  list-style-type: none;
  margin-left: 30%;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(22, 22, 22, 1);
}

.menu_aba ul li{
  margin-right: 5%;
}

.a_link:hover{
  color: rgba(255, 102, 0, 1);
}

#li_button{
  position: relative;
  float: right;
  margin-top: 12px;
}

#li_button .contato{
  background-color: rgba(255, 102, 0, 1);
  border-radius: 20px;
  padding: 8px;
  font-family: 'Righteous',sans-serif;
  font-size: 25px;
  padding: 10px;
  color: white;
  text-decoration: none;

}

.menu_aba li {
  display: inline;
  float: left;
}

li .a_link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

}