.body_contato{
    background-color: rgb(35, 35, 35);
}

.escolha_contato{
    margin-top: 80px;
    display:flex;
    position: relative;
    justify-content: space-around; 
}

.escolha_contato a{
    text-decoration: none;
    color: white;
}

.escolha_contato a:hover{
    color: rgba(255, 102, 0, 1);
}
