body{
    margin: 0;
}

header{
    background-color: rgba(22, 22, 22, 1);
    border: none;
    height: 103px;
}

.logo {
    width: 103px;
    height: 103px;
    margin-left: 5%;
}

.menu_icon{
    float: right;
    
    
}