body{
    margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.section_10 {
  padding: 10px;
  background-color:  rgba(22, 22, 22, 1);
}

.bloco_modelo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  margin-top: 5%;
}

.imagem_modelo {
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}

.texto_modelo {
  max-width: 100%;
  padding: 2%;
  height: auto;
  align-items: center;
  min-width: 100px;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}


.titulo_modelo {
  align-items: center;
  margin-top: 5%;
}

.h1_modelo {
  color: white;
  font-size: 7vw;
  font-family: 'Righteous', sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.h2_modelo {
  color: white;
  font-size: 4vw;
  font-family: 'Righteous', sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.p_modelo {
  color: white;
  font-size: 2.0vw;
  text-align: left;  
  font-family: 'Righteous', sans-serif;
}

/*responsividade. */

@media all and (max-width: 768px) {
  .bloco_modelo{
    flex: 2;
    grid-template-columns: 1fr;
  }

  .imagem_modelo{
    order: 1;
    min-width: 100%;
  }

  .texto_modelo{
    order: 2;
    min-width: 100%;
  }

  .h2_modelo {
    padding-top: 0%;
  }

  .p_modelo {
    font-size: 3.5vw;
  }
}

@media all and (max-width: 412px){
  .h1_modelo {
    font-size: 8vw;
  }

  .p_modelo {
    font-size: 5vw;
  }

}
