body{
    margin: 0;
}

header{
    background-color: rgba(22, 22, 22, 1);
    border: none;
    height: 103px;
}

.logo {
    width: 103px;
    height: 103px;
    margin-left: 5%;
    display: flex;
}

.menu_icon{
    
    position: relative;
    margin-left: 200px;
    margin-top: 14%;
    width: 32px;
    height: 32px;
    
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(22, 22, 22, 1);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .motoInicial{
    margin: 0px;
    margin-top: 28px;
    height: 390px;
    width: 390px;
  }
  .botaoInicial{
    font-size: 22px;
    background-color: #ff6600;
    color: #ffff;
    height: 42px;
    width: 129px;
    margin-left: 250px;
    margin-top: -10px;
    
  }
  .h1imagem{
    justify-content: center;
    text-align: end;
    font-size: 27px;
    margin-right: 10px;
  }
